@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;700&display=swap');


.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.cc-navbar {
    background-color: rgba(0,0,0,0.55);
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-orange);
}

.cards {
  background-color: #034256;
}

.banner .banner-desc{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../img/Banner.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}

.background-img-desc {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.cc-menu {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../img/banniere5.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1200px;
}

.btn-order {
    color: var(--bs-orange);
    border-color: var(--bs-orange);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-orange);
}

.card-carousel {
    background-color: #034256;
}

.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('assets/img/banner2.jpg');
    height: 550px;
  }

.citation{
    border-left: 5px solid #E26229;
    font-style: italic;
    text-align: center;
}

.bg-image2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('assets/img/banner2.jpg');
    height: 1000px;
  }